<div class="container">
  <div class="table-col">
    @if (dataSource.length > 0) { 
      <span [style.margin-left.px]="10" class="header">Exchange rates on {{dataSource[0].date | date:'dd.MM.yyyy'}}</span> 
    }
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef sticky> Currency </th>
          <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
        </ng-container>

        <ng-container matColumnDef="rate">
          <th mat-header-cell *matHeaderCellDef sticky> Rate </th>
          <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectCurrency(row)"></tr>
      </table>
    </div>
  </div>
  <div class="chart-col">
    <span class="header">Selected currency {{selectedCurrency?.currency}}</span>
    <form class="calculator-form" (submit)="calculateEuroToSelectedCurrency($event)">
      <mat-form-field>
        <mat-label>Calculate EUR to {{selectedCurrency?.currency}}</mat-label>
        <input type="number" matInput [formControl]="calculatorFC">
        @if (calculatorFC.hasError('min') && !calculatorFC.hasError('required')) { 
          <mat-error>Please enter a valid amount</mat-error> 
        }
        @if (calculatorFC.hasError('required')) { 
          <mat-error>Amount is required</mat-error> 
        }
      </mat-form-field>
      <button mat-raised-button type="submit">Calculate</button>  
    </form>

    @if (calculationObj) {
      <span class="result">
        Result: {{calculationObj.input}} EUR = {{calculationObj.amount}} {{calculationObj.currency}} (at {{selectedCurrency?.rate}} rate)
      </span>
    }
    @if (selectedCurrency) { <app-chart [currency]="selectedCurrency.currency"></app-chart> }
  </div>
</div>